
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
  //background-image: linear-gradient(to bottom left, #77848C, #385916);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-image: url(./back2.jpg);
  background-repeat: no-repeat;
  //background-size: 100%;
}

.page-wrapper {
  width: 30rem;
  margin: 70px 20px;
  background-image: linear-gradient(to bottom left, #FAFBFF, #7F5A25);  
  padding: 1rem;
  display: flex;
  flex-flow: nowrap;
}

 fieldset {
  border: 1px solid #182337;
 	margin: 1rem;
  border-radius: 5px;
 }

 legend {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 1rem;
 }

 label {
  display: block;
  padding-bottom: 0.5rem;
 }

textarea {
  height: 6rem;
  padding: 1rem;
}

button {
  font-size: 1.5rem;
  background-color: #DDB465;
  color: #EBF5F7;
  border: none;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

button a {
  text-decoration: none;
  color: #EBF5F7;
}

button:hover {
  background-color: #BCAB94;
  color: white;
}

input:not([type="radio"]), textarea {
  display: block;
  margin-bottom: 1.5rem;
  width: 20rem;
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
}

[for="gender"] {
  margin-top: 2rem;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  //overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#2A4014;
  border-bottom: 1rem solid #2A4014;
  display: flex;
}



.nav a {
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;

}


.nav a:hover {
  background-color: #111;
  font-size: 26px;
  color: #77848C;
}